{% extends "auctions/layout.html" %}

{% block body %}
<div class="container">
    {% for listing in listings %}
    <div class="row h-15">
        <div class="col m-3">
            <img width="250" height="150" src="{{ listing.image }}">
        </div>
        <div class="col">
            <h2>{{ listing.title }}</h2>
            <p>Category: {{ listing.category }}</p>
            <p>Starting Price: {{ listing.category }}</p>
        </div>
        <div class="col">
            <p>{{ listing.description }}</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}